* {
    margin: 0;
    color: teal;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

h1,
h2 {
    padding: 0.5rem 0;
}

h3,
h4,
h5 {
    padding: 0.2rem 0;
}

body {
    background-color: darkcyan;
}

.container {
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card {
    width: 360px;
    max-width: 90%;
    height: 480px;
    max-height: 90vh;
    background-color: powderblue;
    border-radius: 1rem;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.txt {
    padding: 1rem;
    width: 100%;
}

.sticker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

audio {
    display: none;
}

#c1,
#c2,
#c3,
#c4,
#c5,
#c6,
#c7,
#c8,
#c9,
#c10,
#c11,
#c12,
#c13,
#c14,
#c15,
#c-1,
#c0,
#c-2 {
    text-align: center;
    display: none;
}

#c-2 {
    display: block;
}
