:root {
    --bg: #d0d6b3;
    --primary: #143109;
    --secondary: #aaae7f;
    --text: #f7f7f7;
    --text2: #efefef;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    color: var(--text);
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    opacity: 0.7;
    padding: 1.2rem 2rem;
}

.nav-link {
    margin: 1rem;
}

.nav-link:hover {
    color: var(--secondary);
}
