body{
    background-color: #847D7B;
}

.container {
    width: 360px;
    height:480px;
    background-color: #fff;
    border-radius: 16px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#c1,#c2,#c3,#c4,#c5,#c6 {
    text-align: center;
} 

#c2,#c3,#c4,#c5,#c6 {
    display: none;
}