* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    color: #fff;
    box-sizing: border-box;
}

p,
li {
    font-weight: 500;
}

body {
    background-color: #ddd;
}

ul {
    margin: 0.5rem 2rem;
}

.right {
    text-align: right;
}

hr {
    margin-top: 1rem;
}

.container {
    padding: 1rem;
    background-color: #2a9134;
    /* background-image: url("https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=826&t=st=1674977370~exp=1674977970~hmac=859e5ea7fa8844fbad229efb533b5714ccec00a5db03e532d082ed19b1de3739"); */
    /* background-image: url("https://img.freepik.com/free-vector/background-wave-abstract-gradient-style_483537-2944.jpg?w=900&t=st=1674977338~exp=1674977938~hmac=48c4b2bc99eb1948ff565044f3a6129338e733aae6f5e4fe8a0f53a0605fba83"); */
    /* background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=826&t=st=1674977126~exp=1674977726~hmac=40d51696638ddfe42bb0116392d77359aef3c86ea33cede08b3bd6c208183f79"); */
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.title {
    width: fit-content;
    padding: 0.1rem 1rem;
}

span {
    color: #fff;
}

.tagline {
    padding: 0.1rem 3rem;
}

.definisi {
    /* background-color: red; */
    margin: 1rem 5rem;
}

.definisi p {
    font-style: italic;
    font-weight: 800;
    text-align: center;
}

.penyebab {
    margin-top: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    background-color: #fff;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    /* box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3); */
}

.headline h2 {
    width: fit-content;
    color: #137547;
    background-color: #fff;
    padding: 0.3rem 2rem;
}

.headline p {
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.explain {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faktor {
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
}

.faktor h3,
.faktor h2 {
    color: #137547;
    background-color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
}

.gejala {
    margin-top: 2rem;
}

.gejala .explain {
    width: 100%;
    justify-content: center;
}

.gejala .faktor {
    width: 45%;
}

.pengobatann {
    margin-top: 2rem;
    display: flex;
    background-image: url("psikosis.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    justify-content: space-between;
}

.pengobatann .faktor {
    width: 40%;
}

.pengobatan p {
    font-weight: 500;
    text-align: center;
}
